body{
	background: url('../images/backgrounds/bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #000;
	width: 100%;
/*	padding: 5px;
	margin: 5px;*/
	overflow-x: hidden;
}

.custom-image{
	width: 100%;
	padding-right: 50px;
	padding-left: 50px;
}

/******************************************* Navbar **********************************************/
#toggleButton{
  position: absolute;
  right: 0px;
  top : 25px;
  /*width: 100px;*/
}

#logo{
  position: fixed;
  top: 20px;
  left: 30px;
  width: 100px;
  height: 100px;
}

.navbar-toggler{
   position: fixed;
    right: 0px;
    border: none;
    top: 100px;
}

.navba {
  background-size: cover; 
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}

.nav-links {
  list-style: none;
  display: block;
   font-weight: 400;
   font-style: normal;
   font-size: 35px;
  font-family: 'rb_normal';
  text-align: center;
  margin-top: 30px;
}

.navba li {

    width: auto;
}

.navba li a{

    display: inline-block;
    text-decoration: none;
    width: auto;
    margin: 5px;
    color: #fff;
}

.navba li a:hover{
  color: #F6B902;
  font-size: 50px;
  font-weight: 100;
  font-family: 'rb_bold';
  }

.navbar.bg-black {
    background-color: black;
}

.navbar.show {
    display: block;
}

.navbar.show .nav-links {
  /*  display: block; /* Show links when toggled */
  top: -100px;
}

.navbar-collapse.collapse {
           display: none;
        }

.navbar-collapse.collapse.show{
  display: block;
  height: 150%;
  padding-top: 50px;
  padding-bottom: 150px;
}

.collapse{
height: 100px;
}

/* ---------------------------------------------------------------------------- */

/* Hide the default Bootstrap toggle button */
/* .navbar-toggler {
    background: none;
    border: none;
    padding: 0;
} */

.navbar-toggler-icon {

}

.navbar-toggler img {
text-align: right;
align-self: right;
align-content: right;
align-items: right;
width: 100%;
}

/*--------------------------------------------------------------------------------*/

/******************************************* Section Welcome**************************************/
#welcome{
	/*background-color: red;*/
	padding: 10px;
}

#miner{
	position: relative;
	top: -100px;
	width: 100%;
	height: 700px;
}

#gallary{
	position: relative;
	width: 130px;
	top: 60px;
	left: 200px;
}

#arrow{
	position: relative;
	width: 130px;
	top: 200px;
	left: 220px;
}
/*-----------------------------------------------------------------------------------------------*/

.cube-container {
  perspective: 1000px;
  position: relative;
  top: -400px;
  /*right: 500px;*/
  /*left: 200px;*/
}

.cube {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  animation: rotate 10s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #000;
  border: 2px solid #333;
}

.face img {
  width: 100%;
  height: 100%;
}

.front  { transform: rotateY(  0deg) translateZ(100px); }
.back   { transform: rotateY(180deg) translateZ(100px); }
.left   { transform: rotateY(-90deg) translateZ(100px); }
.right  { transform: rotateY( 90deg) translateZ(100px); }
.top    { transform: rotateX( 90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* ------------------------------------ Section Statics ----------------------------------------- */
#statistics{
  background: url('../images/statistics/statistics-01.jpg');
  background-size: 1100px;
  background-position: center;
  width: 100%;
  height: 1200px;
}

.stsc-text-1{
  position: relative;
  top: 120px;
  left: 75px;
}

.stsc-text-2{
  position: relative;
  top: 180px;
  right: 150px;
}

.stsc-text-3{
  position: relative;
  top: 100px;
  left: 150px;
}


.stsc-text-4{
  position: relative;
  bottom: 90px;
  right: 80px;
}

.stsc-text-5{
  position: relative;
  top: 100px;
  right: 80px;
}

.stsc-text-6{
  position: relative;
  top: 10px;
  left: 80px;
}

.statistics-list h3{
  font-size: 30px;
}

.statistics-list h4{
  font-size: 15px;
}

/*-------------------------------------------------------------------------------------------------*/


/* -------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------- Mobile Design -------------------------------------------*/
@media (max-width: 668px) {
	/* The Cube */
	.cube , .face{
		width: 100px;
		height: 100px;
	}
	.cube-container {
		top : -100px;
	}

	.front  { transform: rotateY(  0deg) translateZ(50px); }
	.back   { transform: rotateY(180deg) translateZ(50px); }
	.left   { transform: rotateY(-90deg) translateZ(50px); }
	.right  { transform: rotateY( 90deg) translateZ(50px); }
    .top    { transform: rotateX( 90deg) translateZ(50px); }
	.bottom { transform: rotateX(-90deg) translateZ(50px); }
}
/*00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/