/*--------- Import The Equipation Font ---------*/
@font-face {
    font-family: rb_bold;
    src: url('../fonts/RB BOLD.TTF');
}

@font-face {
    font-family: rb_light;
    src: url('../fonts/RB LIGHT.TTF');
}

@font-face {
    font-family: rb_normal;
    src: url('../fonts/RB REGULAR.TTF');
}
/* ------------------------------------------------*/

body{
  background: url('../images/backgrounds/bg.png');
  background-size: contain;
  padding: 0px; margin: 0px;
  overflow-x: hidden;
}

.custom-image{
	width: 100%;
	padding-right: 30px;
	padding-left: 30px;
}

.normal_image{
  width: 100%;
}

/******************************************* Navbar **********************************************/

.navbar-header{
   background-color: red;
   margin: 0px;
   padding: 0px;
   width:100%;
   height: 0px;
}

#toggleButton{
  position: absolute;
  right: 0px;
  top : 25px;
}

#logo{
  position: fixed;
  top: 20px;
  left: 30px;
  width: 100px;
  height: 100px;
}

.navbar-toggler{
   position: fixed;
    right: 0px;
    border: none;
    top: 100px;
}

.navba {
  background-size: cover; 
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}

.nav-links {
  list-style: none;
  display: block;
   font-weight: 400;
   font-style: normal;
   font-size: 35px;
  font-family: 'rb_normal';
  text-align: center;
  margin-top: 30px;
}

.navba li {

    width: auto;
}

.navba li a{

    display: inline-block;
    text-decoration: none;
    width: auto;
    margin: 5px;
    color: #fff;
}

.navba li a:hover{
  color: #F6B902;
  font-size: 50px;
  font-weight: 100;
  font-family: 'rb_bold';
  }

.navbar.bg-black {
    background-color: black;
}

.navbar.show {
    display: block;
}

.navbar.show .nav-links {
  /*  display: block; /* Show links when toggled */
  top: -100px;
}

.navbar-collapse.collapse {
           display: none;
        }

.navbar-collapse.collapse.show{
  display: block;
  height: 150%;
  padding-top: 50px;
  padding-bottom: 150px;
}

.collapse{
height: 100px;
}

/* ---------------------------------------------------------------------------- */

/******************************************* The Cube Background ********************************/

#cube_background{
  width: 100%;
  margin-top: -30px;
  margin-bottom: 0px;
}

/*------------------------------------------------------------------------------------------------*/

/******************************************* cube-container ****************************************/
.cube-container{
  perspective: 1000px;
  position: relative;
  height: 60px;
  top : 40%;
  right : 40%;
  left : 40%;
}
/*-------------------------------------------------------------------------------------------------*/

/******************************************* Servise Slider **************************************/
    /* استهداف الـ Carousel باستخدام معرف محدد */
    #verticalCarousel .carousel-item {
      height: 400px; /* تعديل ارتفاع السلايدر */
    }

    #verticalCarousel .carousel-item img {
      width: 100%;
      height: 100%;
      align-self: flex-end;
      object-fit:cover;

    }

    /* الحركة العمودية: الصور تنتقل من الأسفل للأعلى */
    #verticalCarousel .carousel-inner {
      position: relative;
      height: 500px; /* ضبط ارتفاع السلايدر */
    }

    #verticalCarousel .carousel-item-next, 
    #verticalCarousel .carousel-item-prev {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.6s ease-in-out;
    }

    /* إعداد حركة الصورة القادمة من الأسفل */
    #verticalCarousel .carousel-item-next {
      transform: translateY(100%);
    }

    /* إعداد حركة الصورة السابقة من الأعلى */
    #verticalCarousel .carousel-item-prev {
      transform: translateY(-100%);
    }

    /* إعداد الصورة الحالية */
    #verticalCarousel .carousel-item.active {
      transform: translateY(0);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.6s ease-in-out;
    }

    /* حركة الصور عند التبديل */
    #verticalCarousel .carousel-item-next.active,
    #verticalCarousel .carousel-item-prev.active {
      transform: translateY(0);
    }

    #verticalCarousel .carousel-item.active.carousel-item-left,
    #verticalCarousel .carousel-item.active.carousel-item-right {
      transform: translateY(-100%);
    }

    #verticalCarousel .carousel-item-next.carousel-item-left,
    #verticalCarousel .carousel-item-prev.carousel-item-right {
      transform: translateY(0);
    }


    main{
    width: min(1900px, 900vw);
    margin: auto;
}
.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
          height: 100%;

    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 50s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (50s / var(--quantity)) * (var(--position) - 1) - 50s)!important;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item{
    animation: reversePlay 50s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}

.swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 900px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
  }
  /*-------------------------------------------------------------------------------------------*/

/* Hide the default Bootstrap toggle button */
/* .navbar-toggler {
    background: none;
    border: none;
    padding: 0;
} */

.navbar-toggler-icon {

}

.navbar-toggler img {
text-align: right;
align-self: right;
align-content: right;
align-items: right;
width: 100%;
}

/*--------------------------------------------------------------------------------*/

/******************************************* Section Welcome**************************************/

#welcome{
	padding: 20px;
  margin: 10px 30px 10px 30px ;
  position: relative;
  bottom: 50px;
}

#welcom_image{
  width: 100%;
  /* top right bottom left */
  padding: 0px 20px 20px 20px;
}

#miner{
	position: relative;
	top: -100px;
	width: 100%;
	height: 600px;
}

#social{
  width: 50px;
  margin: 70px 0px 0px 0px;
}

#gallary{
	position: relative;
	width: 100px;
	top: 60px;
	left: 210px;
}

#arrow{
	position: relative;
	width: 130px;
	top: 300px;
	left: 90px;
}

#welcome_polygon{
  background: url('../images/backgrounds/back.png');
  background-size: 88%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 20px 0px 20px;
  color:#fff;
  font-weight: bold;
  width: 100%;
  height: 500px;
  padding-left: 50px;
  padding-right:20px;
}

#welcome_polygon p{
  font-family: 'rb_light';
  margin: 10px 0px 0px 0px;
  text-align: justify;
  width: 75%;
}

#welcome_polygon h4{
  font-family: 'rb_bold';
  font-size: 28px;
  margin-top: 20px;
}

/*-----------------------------------------------------------------------------------------------*/


/******************************************************* Section About ***************************/

  #about{
    width: 100%;
    background : url('../images/welcome/three truck.jpg') ;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 550px 30px 0px 30px;
    font-family: 'rb_bold';
    margin-bottom: 0px;
  }

  #about .number{
    color: #fff;
    font-size: 40px;
    position: relative;
    top: 50px;
  }

  #about .all{
    padding: 0px 80px 0px 80px;
  }

  #about .card{
    padding: 70px;
    text-align: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 320px;
  }

  #about .card h1{
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 40px;
    color : orange;
  }

  #about .card p{
    text-align: justify;
     position: relative;
    bottom: 40px;
  }

  #about .orange{
    width: 90px;
    height:80px;
    background-color: #E6BC44;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: relative;
    bottom: 130px;
    padding: 10px;
  }

  #about .orange_custom{
    width: 90px;
    height:80px;
    background-color: #E6BC44;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: relative;
    bottom: 50px;
    padding: 10px;
  }

  #about .orange .inside , #about .orange_custom .inside{
    width: 70px;
    height:60px;
    background-color: orange;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }

  #about .white{
    width: 90px;
    height:80px;
    background-color: #fff;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: relative;
    bottom :15%;
    left:90%;
  }

/*------------------------------------------------------------------------------------------------*/


/**************************************** Section services *****************************************/
#services{
  background-image: url('../images/services/bg.jpg');
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: 15px;
}
/*--------------------------------------------------------------------------------------------------*/

/* ------------------------------------ Section Statics ----------------------------------------- */
 #statistics{
   background: url('../images/statistics/statistics-01.jpg');
   background-size: 1100px;
   background-position: center;
   width: 100%;
   height: 1200px;
  }

.stsc-text-1{
  position: relative;
  top: 120px;
  left: 75px;
}

.stsc-text-2{
  position: relative;
  top: 180px;
  right: 150px;
}

.stsc-text-3{
  position: relative;
  top: 100px;
  left: 150px;
}


.stsc-text-4{
  position: relative;
  bottom: 90px;
  right: 80px;
}

.stsc-text-5{
  position: relative;
  top: 100px;
  right: 80px;
}

.stsc-text-6{
  position: relative;
  top: 10px;
  left: 80px;
}

.statistics-list h3{
  font-size: 30px;
}

.statistics-list h4{
  font-size: 15px;
}

/*-------------------------------------------------------------------------------------------------*/


/****************************************** Section Our Fleet ***************************************/
  #our_fleet{
    background : url('../images/backgrounds/fleet.png');
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    margin: -15px 0px 0px 0px;
    padding: 50px 0px 30px 0px;
  }

  #our_fleet .fleet_card{
      background-color: #ffffff22;
      color: #fff;
      font-family: 'rb_bold';
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
  }

  #our_fleet .fleet_card #small_title{
      font-size: 10px;
  }

  #our_fleet .fleet_card .arrow{
    width: 30px;
    height: 30px;
    float: right;
  }

  #our_fleet .fleet_card img{
      width: 100%;
      height: 200px;
  }

  #our_fleet .fleet_card h5{
    background-color: orange;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin: 5px;
  }

  #our_fleet .fleet_card p{
    font-size: 10px;
    margin: 10px;
    text-align: justify;
  }

  #our_fleet .row .col-lg-2{
    padding: 0px;
    margin: 0px;
  }

  #our_fleet .see_more{
    background-color: #FFA50033;
    color: #fff;
    font-family: 'rb_bold';
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0px 10px 0px;
  }

/*---------------------------------------------------------------------------------------------------*/

/****************************************** Section Our Fleet ***************************************/

  #contact{
    background-color: #123;
    padding: 250px 50px 10px 50px;
    background : url('../images/backgrounds/fleet.png');
    background-size: cover;
    font-family: 'rb_bold';
    margin-top: -600px;
  }

  #contact .gold{
    font-size: 70px;
    color: gold;
    font-weight: bold;
     text-align: justify;
  }

  #contact .border{
    height: 40px;
    border: 2px solid gold; 
    border-color: red;
    border-radius: 15px;
  }

  #contact .pref{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
  }

  #contact .trans{
    background-color: #ffffff22;
    padding: 3px 7px 3px 7px;
    border-radius: 8px;
    color: #eee;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0px 10px 0px; 
  }

  #contact .trans img{
    width: 30px;
    height: 30px;
    margin: 3px;
  }

  #contact .trans a{
    color: #fff;
    margin: 5px;
  }

  #contact .r{
    text-align: right;
  }

  #contact .fr{
    float: right;
  }

  #contact .fl{
    float: left;
  }

  #contact .c{
    width: 100%;
    position: relative;
    top :360px;
  }
/*---------------------------------------------------------------------------------------------------*/

.cube {
  position: relative;
  width: 180px;
  height: 180px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  animation: rotate 15s infinite linear;
}

.face {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #000;
  border: 2px solid #333;
}

.face img {
  width: 100%;
  height: 100%;
}

.front  { transform: rotateY(  0deg) translateZ(90px); }
.back   { transform: rotateY(180deg) translateZ(90px); }
.left   { transform: rotateY(-90deg) translateZ(90px); }
.right  { transform: rotateY( 90deg) translateZ(90px); }
.top    { transform: rotateX( 90deg) translateZ(90px); }
.bottom { transform: rotateX(-90deg) translateZ(90px); }

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}


/* -------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------- Mobile Design -------------------------------------------*/
@media (max-width: 668px) {
	/* The Cube */
	.cube , .face{
		width: 100px;
		height: 100px;
	}
	.cube-container {
		top : 30%;
	}

  #cube_background{
    margin-top: 40px;
  }

	.front  { transform: rotateY(  0deg) translateZ(50px); }
	.back   { transform: rotateY(180deg) translateZ(50px); }
	.left   { transform: rotateY(-90deg) translateZ(50px); }
	.right  { transform: rotateY( 90deg) translateZ(50px); }
    .top    { transform: rotateX( 90deg) translateZ(50px); }
	.bottom { transform: rotateX(-90deg) translateZ(50px); }
}
/*00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/